<!doctype html>
<html>
	<head>
		<title>PyEngineer</title>
		<script src="/static/jquery-3.3.1.min.js"></script>
		<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" />
		<script src="/static/popper/dist/umd/popper.min.js"></script>
		<script src="/static/bootstrap/js/bootstrap.min.js"></script>
	</head>
	<body>
		<nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
			<a class="navbar-brand" href="/"><img src="/static/wrench_rotated.svg" width="32px" /></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Menu A</a>
						<div class="dropdown-menu" aria-labelledby="dropdown01">
							<a class="dropdown-item" href="#">Action 1</a>
							<a class="dropdown-item" href="#">Action 2</a>
							<a class="dropdown-item" href="#">Action 3</a>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Menu B</a>
						<div class="dropdown-menu" aria-labelledby="dropdown02">
							<a class="dropdown-item" href="#">Action X</a>
							<a class="dropdown-item" href="#">Action Y</a>
							<a class="dropdown-item" href="#">Action Z</a>
						</div>
					</li>
				</ul>
			</div>
		</nav>

		<div class="container">
		  <div class="jumbotron">
			<h2>Local Title</h2>
			${self.body()}
		  </div>
		</div>

		<footer class="container">
			<p><img src="/static/wrench_rotated.svg" width="16px"> PyEngineer 2012-2018</p>
		</footer>
	</body>
</html>
