<%inherit file="base.html" />

<script>
function submit_data(uri) {
	const submit_data_array = $("#input_data").serializeArray();

	let submit_data = { };
	$(submit_data_array).each(function(index, obj) {
		submit_data[obj.name] = obj.value;
	});
	const submit_data_json = JSON.stringify(submit_data, null, 2);

	$.ajax({
		url: uri,
		type: "POST",
		data: submit_data_json,
		contentType: "application/json; charset=utf-8",
		dataType: "html",
		success: function(result) {
			$("#response").html(result);
		},
		error: function(result) {
			console.log(result);
			$("#response").html("<div class='alert alert-danger' role='alert'>The HTTP request failed: (HTTP " + result.status + " -- " + result.statusText + ")<br />More info in the JavaScript console.</div>");
		}
	})
}
</script>

<div class="container mb-4">
${rendered_form_html}
</div>

<div class="container" id="response">
</div>

<script>
$.ajax({
	url: "/config",
	type: "GET",
	dataType: "json",
	success: function(result) {
		$(".populate_valueset").each(function() {
			const combobox_element = $(this);
			const valueset_group = combobox_element.attr("valueset_group");
			const valueset_name = combobox_element.attr("valueset_name");
			if (valueset_name === undefined) {
				/* Populate combobox with names of groups */
				for (let i in result.valuesets[valueset_group]) {
					let valueset = result.valuesets[valueset_group][i];
					combobox_element.append(new Option(valueset["name"], valueset["name"]));
				}
			} else {
				/* Populate combobox with values inside a specific group */
				const valuesets = result.valuesets[valueset_group];
				let valueset = null;
				for (let i in valuesets) {
					if (valuesets[i]["name"] == valueset_name) {
						valueset = valuesets[i];
						break;
					}
				}
				if (valueset === null) {
					console.log("Warning: No valueset named '" + valueset_name + "' in valueset group '" + valueset_group + "' -- not populating combobox: ", combobox_element)
				} else {
					console.log(valueset_group, valueset_name);
					console.log(valueset);
					for (let i in valueset["values"]) {
						let value = valueset["values"][i];
						combobox_element.append(new Option(value["repr"], value["repr"]));
					}
				}
			}
		});
	},
	error: function(result) {
		console.log("Couldn't fetch configuration JSON.");
		console.log(result);
	}
})
</script>
