<%inherit file="base.html" />

<script>
function submit_data(uri) {
	const submit_data_array = $("#input_data").serializeArray();

	let submit_data = { };
	$(submit_data_array).each(function(index, obj) {
		submit_data[obj.name] = obj.value;
	});
	const submit_data_json = JSON.stringify(submit_data, null, 2);

	$.ajax({
		url: uri,
		type: "POST",
		data: submit_data_json,
		contentType: "application/json; charset=utf-8",
		dataType: "json",
		success: function(result) {
			show_result(result);
		}
	})
}
</script>

${plugin_content}
