<%inherit file="base.html" />

<script>
function submit_data(uri) {
	const submit_data_array = $("#input_data").serializeArray();

	let submit_data = { };
	$(submit_data_array).each(function(index, obj) {
		submit_data[obj.name] = obj.value;
	});
	const submit_data_json = JSON.stringify(submit_data, null, 2);

	$.ajax({
		url: uri,
		type: "POST",
		data: submit_data_json,
		contentType: "application/json; charset=utf-8",
		dataType: "html",
		success: function(result) {
			$("#response").html(result);
		},
		error: function(result) {
			console.log(result);
			$("#response").html("<div class='alert alert-danger' role='alert'>The HTTP request failed: (HTTP " + result.status + " -- " + result.statusText + ")<br />More info in the JavaScript console.</div>");
		}
	})
}
</script>

<div class="container mb-4">
${rendered_form_html}
</div>

<div class="container" id="response">
</div>

<script>
$.ajax({
	url: "/config",
	type: "GET",
	dataType: "json",
	success: function(result) {
		console.log(result);
	},
	error: function(result) {
		console.log("Couldn't fetch configuration JSON.");
		console.log(result);
	}
})
</script>
