<%def name="input_text(field_name, field_desc, default_value = '', righthand_side = None, optional = False)">
	<div class="form-group row">
		<label for="${field_name}" class="col-2 col-form-label${" text-secondary" if optional else ""}">${field_desc}:</label>
		<div class="col-4">
			<input type="text" class="form-control" id="${field_name}" name="${field_name}" value="${default_value}">
		</div>
		%if righthand_side is not None:
		<div class="col-1 col-form-label">
			${righthand_side}
		</div>
		%endif
	</div>
</%def>

<%def name="input_set(field_name, field_desc, valueset_group_name, valueset_name = None, empty_value = None, optional = False)">
	<div class="form-group row">
		<label for="${field_name}" class="col-2 col-form-label${" text-secondary" if optional else ""}">${field_desc}:</label>
		<div class="col-4">
			<select id="${field_name}" name="${field_name}" class="form-control populate_valueset" valueset_group="${valueset_group_name}"${' valueset_name="%s"' % (valueset_name) if (valueset_name is not None) else ''}>
				%if empty_value is not None:
				<option value="">${empty_value}</option>
				%endif
			</select>
		</div>
	</div>
</%def>

<%def name="input_checkbox(field_name, field_desc, optional = False)">
	<div class="form-group form-check row">
		<input type="checkbox" class="form-check-input" id="${field_name}" name="${field_name}" value="1">
		<label class="form-check-label" for="${field_name}">${field_desc}</label>
	</div>
</%def>

<%def name="submit_button(button_text, endpoint = None)">
	<button onclick="submit_data('${request_uri(endpoint)}'); return false" class="btn btn-primary">${button_text}</button>
</%def>
